body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(112, 112, 112);
    font-family: Arial, Helvetica, sans-serif;
}
.pakovanje{
    width: 100vw;
    height: 100vh;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
#selektor{
    width: 30%;
    min-width: 350px;
    border: 5px solid black;
    border-radius: 10px;
}
.prostor{
    width: 65%;
    border: 5px solid black;
    border-radius: 10px;
}
.grupa{
    margin: 5px;
}
.naziv{
    padding: 3px 10px;
    background-color: rgb(78, 89, 100);
    border-radius: 0 10px 0 0;
    color: white;
}
label{
    font-weight: bold;
    color: white;
    
    width: 135px;
    font-size: 15px;
}
.selekcija{
    width: 140px;
}
.odabir{
    padding: 0 5px;
    height: 2rem;
    border-radius: 5px;
    border: none;
}
.razdela{
    display: flex;
    justify-content: space-between;
}

.teksterija{
    width: 165px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    
}

.percentum{
    max-width: 115px;
    height: 2rem;
    padding: 0 5px;
    resize: none;
    border-radius: 5px;
    text-align: center;
    line-height: 2rem;
    overflow: hidden;
}
#prosledi, #nova{
    background-color: rgb(78, 89, 100);
    color: white;
    height: 25px;
    border-radius: 5px;
    margin-top: 12px;
}
#nova{
    float: right;
}
.neaktivna{
    opacity: 50%;
    cursor: not-allowed;
}
.aktivna{
    opacity: 100%;
    cursor: pointer;
    
}
#poruka, #poruka2{
    display: none;
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: rgb(255, 255, 255, 0.9);
    border-radius: 3px;
}
.percentum::placeholder{
    font-size: .6rem;
    color: darkslategrey;
}
.brisanje{
    width: 27px;
    height: 27px;
    
}
.zaBrisanje{
    background-color: red;
    color: white;
    text-shadow: 1px 0px black;
    border-radius: 5px;
    
}

